files:
  /home/ec2-user/.ssh/extra_authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH1+VZgAMiuz7Z31FMbemWLowmG7qgsDCLfh5zp3iWLY wemap-devops
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCsxx31EqpdWNmwqZCj9CCGy2vaKwFAHjpG2CYnK5o8Jsjxq3XQq8z2UEUQ/2uRDJmKwcGpx7L3jo8Mg8Az8c4MM3kpOR6y5qgrMGCOXVdhtOPFZ41QFVSR59wKVt6Y22SBUXddQBeClc4nANfzs9Cq9wFfI91ksyk78tUtcg7o2r23fkyKDzGPl9AF7r7HDmZ6Y3MMzAexoAFGiME6R7SJO4qo0z/1/mRc5Mex806tr8fF3fAM9U/7+v+JOb5ekAn3osiXMXBmV/AaUVWUltWyOpUtSrMU+ccdxHBlNYC6uRsRACVuhQyrVD2aBD85NA6PIXT67P+jyiKczfliSfD9jjZlseBbZgA2eNp6mJTnOIuYzhuI73P7Ne6sUJr5lghdAokrItHspvtbjCwX67tqvpEUY4PBWsDaW7ZGeICOLMTStBTliy7mc9WbxFFUe1KDDryog0i4sikJz1VZ2/bOywUwIgpHM3ZiiJ4vB3eJSINo1crDbfMTLimbBroaehFwSikeg2Nm70yo/u2wWCfGElB/cpzhAM1+e72iO1NP8O+vM/blF7bNFWMA0etEOUputMB+I0lOxYLZ4460rVV23f/2/XDvVkYsLCOfU/8quYvyKsChmcmIdbAupdfHcCgSAODWPWE+foO522kLrn4dWbLgy1QJUrDIoTQ4NAEtnQ== bertrand@getwemap.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCnFyXbf6LhJYJia27suj2p52ueZTgPfMSaWiRNNfN5mnLJK1L1gvkIBQDzWyv5aHZd1YbmBopN9G+RZiEOEhghDJRzzENGsTYXiLJIOjd9P9enXf3XdvEvhcScJcnCr5+j/tKVY4awTD/G2LRD0FHUEYz7mI2pCaklmOYz5snjV9N86P1Z7NhgmA36bpTN5DppbfN9Zs/UAW0gVa76mzzt7uUQi7MY5appC9JhQV9WEbjf9U4eteglTPwH70lhm9v3o5K+/uj1p6h/2yl3ZNk5bBKq+91J8mggmE5h2vSOElQB78ISgtviGhohJbLKLoRTLzev52+rj1NzP0gAzxKQ8iUt1IAekfSrRSASBLxqT0eRIwUDjYPxXWm5Ddm03UUQmnKo6hLHsyqHRIKwfOEKfv6uPkH9J0hqBKaIsXBNpQOb/3ynOAFRPhpX8tXfJxM2ioJgB8JWTs5UEoELmCAMA8c3PAcg1WODaOctY1H/FMJvWJEHQ6Cc4e2bLYc3HqM=  adrian@getwemap
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQClrda9Jv2vqqg2OCk7zLYX/pYZtPEISP53b6fthjUanE4q4uEEGU029ySqfQReqlEjcbiS+N9Gn42utNUU1cS0CCpxJYGxCielfCtsoI/5jjGwwA5oPcPyFeeM5ioCHfWUIrM1ZFc7XKrhKLpxvfFmSt8q7tHvLx7Nlf+ZG6rne0H+k477BIwD2lubjwYkLeomrj6MvYB5i9PxNSgALL+KiP5eScewK6Vxwrf0zuRsqHo5nIFu/kf+mebOXKW5rP28RNSVMqJtOGohgURkhr4QP7pb26qm9gmqHj3l5ddZem2vfGTHVtAIDXxKgaXvP20l+NIhOAuWUDdclBcTIX13 thibaud@Thibauds-MacBook-Pro.local
commands:
  01_append_keys:
    cwd: /home/ec2-user/.ssh/
    command: sort -u extra_authorized_keys authorized_keys -o authorized_keys
  99_rm_extra_keys:
    cwd: /home/ec2-user/.ssh/
    command: rm extra_authorized_keys